<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Queen Move</title>
  </head>
  <body>
    <form action="/result" method="get">
      <h1>Check Moves!</h1>
      <h4>Please enter a two letter string according to chess notation (i.e. F3).</h4>
      <input type="text" name="queenMove" placeholder="Queen Move"></br>
      <input type="text" name="takeMove" placeholder="Spot to check?"></br><br>
      <button type="submit">Check Move</button>
    </form>
  </body>
</html>
