<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results</title>
  </head>
  <body>
    <h1>Queen Attack!</h1>
    if the queen is at position ATqueenMove , <br>
    and the other piece is at ATtakeMove , <br>
    the queen can ATnot take the piece. <br>
  </body>
  <br><a href="/">Re-Try</a>
</html>
